<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 style="text-align:center;">Iniciar Sesión</h3>
  <form [formGroup]="formulario" (ngSubmit)="login()">
    <ion-item>
    <ion-label position="floating" style="text-align:center;">Usuario: </ion-label>
    <ion-input type="text" formControlName="user"></ion-input>
    </ion-item>


    <ion-item>
    <ion-label position="floating" style="text-align:center;"> Contraseña: </ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <br>
    <ion-button fill="outline" color="tertiary" type="sumbit" expand="block">Inicar Sesión</ion-button>
    <ion-button fill="outline" color="warning" [routerLink]="['/registrar']" expand="block"> Registrarse</ion-button>
  </form>
  <br>

</ion-content>
