<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">Pc Labs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 style="text-align:center;">Iniciar Sesión</h3>
  <form [formGroup]="formulario" (ngSubmit)="login()">
    <ion-item>
    <ion-label position="floating" style="text-align:center;">Usuario: </ion-label>
    <ion-input type="text" formControlName="user"></ion-input>
    </ion-item>


    <ion-item>
    <ion-label position="floating" style="text-align:center;">Contraseña: </ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <br>
    <div class="centrado">
    <ion-button class="Boton1" fill="outline" type="submit">Iniciar Sesión</ion-button><br>
    <ion-button class="Boton2" [routerLink]="['/registrar']" fill="outline"> Registrarse</ion-button>
    </div>
  </form>
  <br>

</ion-content>
