<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">Historial de compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button fill="outline" [routerLink]="['/home']" size="small" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  <ion-card *ngFor="let compras of comprasUser">

    <ion-list>
      <ion-item>
      <h1>Detalle</h1>
    </ion-item>
    <ion-item>
      Productos
    </ion-item>
      <ion-item *ngFor="let carrito of compras.cart">
        <p>Nombre producto: {{carrito.nombre}}</p>
      </ion-item>
      <ion-item>
      <p>Total compra: {{ compras.total | currency:'CLP'}}</p>
      </ion-item>
      <ion-item>
      <p>Fecha compra: {{compras.fecha}}</p>
    </ion-item>
    </ion-list>

  </ion-card>
</ion-content>
