<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">ver-producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button fill="outline" [routerLink]="['/home']" size="small" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  <ion-card *ngIf="producto">
    <img [src]="producto.img">
    <ion-card-header>
      <ion-card-title>{{producto.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h3>Componentes</h3>
      <p>Stock:{{producto.cantidad}}</p>
      <p>Memoria Ram: {{producto.ram}}</p>
      <p>Procesador: {{producto.procesador}}</p>
      <p>Precio: ${{producto.precio}}</p>
      <p>Disco Duro: {{producto.discoDuro}}</p>
      <p>Placa Madre: {{producto.placaMadre}}</p>
      <p>Gabinete: {{producto.gabinete}}</p>
      <p>Tarjeta Grafica: {{producto.tarjetaGrafica}}</p>
    </ion-card-content>

  </ion-card>


</ion-content>
