<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">Información del producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button fill="outline" [routerLink]="['/home']" size="small" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  <ion-card *ngIf="producto">
    <div class="centrado"><br>
    <img [src]="producto.img">
    <ion-card-header>
    <ion-card-title><h3>{{producto.nombre}}</h3></ion-card-title>
    </ion-card-header>
    </div>
    <ion-card-content>
      <h2>Componentes</h2>

      <p> Stock: {{producto.cantidad}} </p>

      <p>Memoria Ram: {{producto.ram}}</p>

      <p>Procesador: {{producto.procesador}}</p>

      <p>Precio: {{producto.precio | currency:'CLP'}}</p>

      <p>Disco Duro: {{producto.discoDuro}}</p>

      <p>Placa Madre: {{producto.placaMadre}}</p>

      <p>Gabinete: {{producto.gabinete}}</p>

      <p>Tarjeta Grafica: {{producto.tarjetaGrafica}}</p>

    </ion-card-content>
  </ion-card>
  <p style="text-align:center;">Total: {{precioCarrito | currency: 'CLP'}}</p>
  <ion-grid >

    <ion-row>
      <ion-col size="4">
        <ion-button color="danger" (click)="restarItem()" ><ion-icon name="remove-circle-outline" ></ion-icon></ion-button>
      </ion-col>
      <ion-col size="4">
        <p>{{cantidadCart}}</p>
      </ion-col>
      <ion-col size="4">
        <ion-button type="button" color="success" (click)="addItem()" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
</ion-grid>



<ion-button type="button"  color="success" (click)="AddCart()" expand="block" fill="outline"> Añadir al carrito </ion-button>



</ion-content>
