<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">{{usuarioLinea.user}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button fill="outline" size="small" (click)="logout()" color="danger"><ion-icon name="log-out-outline"></ion-icon> </ion-button>

  <ion-fab vertical="top" horizontal="end" >

    <ion-fab-button (click)="getCart()" [routerLink]="['ver-carrito']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let producto of listarProductos" [routerLink]="['verProducto',producto.nombre]" [queryParams]="{id:producto.id}">
    <img [src]="producto.img">
    <ion-card-header>
      <ion-card-title>{{producto.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Información</p>
      <p>Precio: ${{producto.precio}}</p>
      <p>Stock: {{producto.cantidad}}</p>
    </ion-card-content>

  </ion-card>

  <ion-infinite-scroll (ionInfinite)="cargarMasProductos()">
    <ion-infinite-scroll-content loadingText="Cargando más productos...">
      <p>Productos Cargados</p>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
