<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">{{usuarioLinea.user}}</ion-title>
    <ion-button fill="outline" size="small" (click)="logout()" color="danger"><ion-icon name="log-out-outline"></ion-icon> </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-fab vertical="top" horizontal="end" >

    <ion-fab-button  (click)="getCart()" [routerLink]="['ver-carrito']" >
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let producto of listarProductos" [routerLink]="['verProducto',producto.nombre]" [queryParams]="{id:producto.id}">
    <div class="centrado">
    <img [src]="producto.img">
    </div>
    <ion-card-content>
      <h1 style="text-align:center; color: rgb(255, 255, 255);" >{{producto.nombre}}</h1>

      <p>Información:</p>

      <p>Precio: {{ producto.precio | currency:'CLP'}}</p>

      <p>Stock: {{producto.cantidad}}</p>

      <p>Gama: {{producto.gama}}</p>

    </ion-card-content>

  </ion-card>

  <ion-infinite-scroll (ionInfinite)="cargarMasProductos()">
    <ion-infinite-scroll-content loadingText="Cargando más productos...">
      <p>Productos Cargados</p>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
