<ion-header>
  <ion-toolbar>
    <ion-title>modificar-producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button fill="outline" [routerLink]="['/listar-producto']" size="small" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  <form [formGroup]="formulario">
    <ion-item>
      <ion-label position="floating">Nombre Producto</ion-label>
      <ion-input formControlName="nombreProducto" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad Producto</ion-label>
      <ion-input formControlName="cantidad" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Imagen Producto</ion-label>
      <ion-input formControlName="img" type="file" (change)="leerArchivo($event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >precio: </ion-label>
      <ion-input type="number" formControlName="precio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Ram: </ion-label>
      <ion-input type="text" formControlName="ram"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Procesador: </ion-label>
      <ion-input type="text" formControlName="procesador"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Disco Duro: </ion-label>
      <ion-input type="text" formControlName="discoDuro"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Placa Madre: </ion-label>
      <ion-input type="text" formControlName="placaMadre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >gabinete: </ion-label>
      <ion-input type="text" formControlName="gabinete"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Tarjeta Grafica: </ion-label>
      <ion-input type="text" formControlName="tarjetaGrafica"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Gama: </ion-label>
      <ion-input type="text" formControlName="gama"></ion-input>
    </ion-item>


    <ion-button  [disabled]="formulario.invalid" type="sumbit"  color="tertiary" expand="block"  fill="outline" (click)="guardarDatos(formulario.value)" >Confirmar</ion-button>
    <ion-button color="danger"   fill="outline" (click)="eliminarPersonaje()" expand="block" >Eliminar</ion-button>
  </form>

</ion-content>
