<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button fill="outline" [routerLink]="['/home']" size="small" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      <ion-card  *ngFor="let cart of carritoVerHtml">
        <img [src]="cart.img">


      <ion-card-content>


          <p>Nombre Producto: {{cart.nombreProducto}}</p>


          <p>Precio Producto: {{cart.precio}}</p>

        <div style="text-align:center;">
        <ion-button color="danger" (click)="eliminarProducto(cart)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        </div>

    </ion-card-content>
    </ion-card>
    <br>
    </ion-content>

    <ion-footer style="text-align:center;">

            Total Carrito: <h3>{{totalCompra | currency: 'CLP'}}</h3><br>

          <ion-button style="text-align:center;" color="success" (click)="pagar()">Pagar</ion-button>


    </ion-footer>




