<ion-header>
  <ion-toolbar>
    <ion-title>verCarrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button fill="outline" [routerLink]="['/home']" size="small" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  <div *ngIf="carrito">
  <ion-card *ngFor="let item of carrito" >
    <img [src]="item.foto" >
  <ion-card-content>
    <p>{{item.nombre}}</p>
    <p>Cantidad: {{item.cantidad}}</p>
    <p >Total: {{item.total}}</p>

  </ion-card-content>
  <p></p>
</ion-card>


</div>

</ion-content>
