<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button fill="outline" [routerLink]="['/home']" size="small" color="warning"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>

  <p *ngIf="carritoVacio == 0; then noDatos else Datos"></p>

    <ng-template #Datos>
    <ion-card *ngFor="let item of carrito" >
      <img [src]="item.foto" >
      <ion-card-content>
        <p>{{item.nombre}}</p>
        <p>Cantidad: {{item.cantidad}}</p>
        <p >Precio Producto: {{item.total | currency: 'CLP'}}</p>


        <ion-button color="danger" (click)="restarCarrito(item)"><ion-icon name="remove-circle-outline" ></ion-icon></ion-button>

        <ion-button  (click)="sumarCarrito(item)"><ion-icon name="add-circle-outline"></ion-icon></ion-button>

        <ion-button color="danger" (click)="eliminarProducto(item)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>


</ng-template>
<ng-template #noDatos><br> <h1>Añade productos a tu carrito!!!</h1></ng-template>

</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        Total Carrito: {{totalCompra | currency: 'CLP'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button expand="full" color="success" (click)="pagarTotalCarrito()">Pagar</ion-button>
    </ion-row>
  </ion-grid>
</ion-footer>

